body {
    background-image: url("dark-honeycomb.png");
    margin: 0;
}

.container-nav {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    width: auto;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    width: 55%;
    height: 100%;
    margin-left: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
}

a:link {
    color: #777777;
}

a:visited {
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

.justify-content-end {
    padding: 50px 0;
    margin-right: 50px;
}

.nav-link {
    border-inline-end-style: solid;
    border-inline-end-color: #c2c2c2;
    border-inline-end-width: .25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: auto;
}

.nav-item:last-child .nav-link {
    border: none;
}

ul {
    padding: 1%;
}

.container-mid {
    background-color: white;
    margin: 60px auto;
    max-width: 960px;
    padding: 30px;
    overflow: auto;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: auto;
    padding: 0 0 30px 0;
    border-bottom: 3px solid #dddddd;
    font-weight: bold;
}

.input-group {
    margin-top: 10px;
}




.container-bottom {
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    height: 9%;
    color: #c2c2c2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}